html(lang="en")
  include ./_partial/head
  body
    #front-wrap
      #bg
        .container-fluid
          header
            hgroup
              .row.col-md-12.text-center#dragon-curve
                img(src="/assets/img/dragon-reverse-bold.svg" height="380px")#dragon-svg
              .row.col-md-12
                h2.text-xs-center X → X+YF+, Y → -FX-Y
    
    //.navbar.navbar-fixed-top.navbar-light.bg-faded
    //  nav
    //    .navbar-brand
    //      img(src="")
    //    ul.nav.navbar-nav
    //      li.nav-item: a(href="") front
    //      li.nav-item: a(href="#work-wrap") work
    //      li.nav-item: a(href="") articles
    //      li.nav-item: a(href="") about
          
    .container-fluid#work-wrap
      section
        .row
          .col-sm-6
            .post
              img(src="")
              h1 Title
              time(datetime="2016-05-28") 4 days ago
              ul.list-inline
                li.list-inline-item tag
                li.list-inline-item another
                li.list-inline-item yknow
          .col-sm-6
            .post
              img(src="")
              h1 Title
              time(datetime="2016-05-28") 4 days ago
              ul.list-inline
                li.list-inline-item tag
                li.list-inline-item another
                li.list-inline-item yknow

    .container-fluid#articles-wrap
      section
        hgroup
          h1 Articles
        ul
          li: a(href="")
            time(datetime="2016-05-05") Day ago
            h2 Some article title
          li: a(href="")
            time(datetime="2016-04-28") Week ago
            h2 Yet another artcile
          li: a(href="") 
            time(datetime="2016-03-04") Month ago
            h2 Two day ago Runing out of articles? 
          li: a(href="")
            time(datetime="2015-03-04") Year ago
            h2 I hope it has come to an end
    
    .container-fluid#about-wrap
      section
        h1 About me!
        img(src="")
        aside
          p Some info about me. Lorem ipsum dolor sit amet, 
          p consectetur adipisicing elit, sed do eiusmod tempor 
          p incididunt ut labore et dolore magna aliqua.
        ul.list-inline
          li.list-inline-item: a(href="facebook"): img(src="fb")
          li.list-inline-item: a(href="twitter"): img(src="twitter")
          li.list-inline-item: a(href="github"): img(src="github")
    
    .container-fluid
      footer
        h1 Contact
        ul
          li email
          li phone
        h2 Copyright (c) 2016 Kamil Zak All Rights Reserved.
      
    .hamburger-wrap
      button(type="button").hamburger.hamburger--3dx
        span.hamburger-box
          span.hamburger-inner
