html
  head
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    title kh0p-theme
    meta(name="viewport" content="width=device-width")
    link(rel="stylesheet" href="/assets/css/main.css")
    script(type="text/javascript" src="/assets/js/jquery-2.2.4.min.js")
    script(type="text/javascript" src="/assets/js/application.js")
body

  include ./_partial/loading
  include ./_partial/page_zero
