html
  include ./_partial/head
  body#page-two
    .container
      .col
        h2 WEB DEVELOPER
        h2 FRONT&BACK-END
        h2 DESIGNER
        h1 +/- KH0P
      .col
        p Ameno
        p Ameno
        p Glanciere'
