.hidden-md-up
.hidden-sm-down
.hidden-md-down
  .content-wrap
    .content
      .container-fluid
        .row
          .content-container
            .col-md-6
              a(href="#").thumbnail
                img(src="/assets/img/slide3.jpg" alt="..." width="290px")
              p try
          .content-container    
            .col-md-6
              a(href="#").thumbnail
                img(src="/assets/img/slide4.jpg" alt="..." width="290px")
              p hard
