.hidden-md-up
.hidden-sm-down
.hidden-md-down
  .header
    .container-fluid
      .top-wrap
        .top
          .row.top-inner
            .col-md-12
              img(src="/assets/img/slide5.jpg", width="240px")
          .row
            .col-md-12
              h1 I FOUND IRRATIONAL PART!            
