.hidden-md-up
.hidden-sm-down
.hidden-md-down
.container-fluid
  .top-wrap
    .top
      .top-inner
        .row
          .col-md-12
            p canvas
        .row
          .col-md-12
            p text
