*
  margin: 0

html body
  height: 100%
  width: 100%
  overflow: hidden

body
  min-height: 100%
  @include background(url("/assets/img/bg.png"))
  background-repeat: no-repeat
  background-position: center
  background-size: cover

h1
  font-size: 108px
