.logo-circle-both

.logo
  display: flex
  justify-content: center
  align-items: flex-end
  visibility: hidden
  background-image: url("/assets/img/LOGOV2.png")
  background-color: $box-test-color
  background-repeat: no-repeat
  background-position: center
  position: relative
  padding: 130px 220px
  float: center
