.container
  @include media('>=md')
    flex-wrap: wrap

  display: flex
  flex-direction: row
  height: 100%
  background-color: $box-test-color
  justify-content: center
  flex-wrap: nowrap
  align-items: stretch

.col
  min-width: 200px

.col:nth-child(2)
  width: 680px
  display: flex
  justify-content: center
  align-items: center
  background-color: $box-test-color
