.top-wrap
  height: 100vh
  background-color: pink
  position: relative

.top
  position: absolute
  top: 50%
  left: 50%
  width: 90%
  height: 90vh
  transform: translate(-50%, -50%)
  margin: 0 auto
  font-style: Righteous
  color: rgba(255, 255, 255, 1)
  display: flex
  align-items: center
  justify-content: center


.top:after
  content: ""
  background: url("/assets/img/slide2.jpg")
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  opacity: 0.5
  top: 0
  left: 0
  bottom: 0
  right: 0
  position: absolute
  z-index: -1

.top-inner

.container-fluid
  .row
    text-align: center
    .col-md-12
      margin: 32px
